<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :access_enabled, style: "display: block" %>
    <%= form.check_box :access_enabled %>
  </div>

  <div>
    <%= form.label :app, style: "display: block" %>
    <%= form.text_field :app %>
  </div>

  <div>
    <%= form.label :average_minutes_used_last_30_days, style: "display: block" %>
    <%= form.number_field :average_minutes_used_last_30_days %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :fees_last_30_days, style: "display: block" %>
    <%= form.text_field :fees_last_30_days %>
  </div>

  <div>
    <%= form.label :id, style: "display: block" %>
    <%= form.number_field :id %>
  </div>

  <div>
    <%= form.label :initial_access, style: "display: block" %>
    <%= form.datetime_field :initial_access %>
  </div>

  <div>
    <%= form.label :last_access, style: "display: block" %>
    <%= form.datetime_field :last_access %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password %>
  </div>

  <div>
    <%= form.label :updated_at, style: "display: block" %>
    <%= form.text_field :updated_at %>
  </div>

  <div>
    <%= form.label :user_type, style: "display: block" %>
    <%= form.text_field :user_type %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
