<div id="<%= dom_id user %>">
  <p>
    <strong>Access enabled:</strong>
    <%= user.access_enabled %>
  </p>

  <p>
    <strong>Average minutes used last 30 days:</strong>
    <%= user.average_minutes_used_last_30_days %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= user.created_at %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Fees last 30 days:</strong>
    <%= user.fees_last_30_days %>
  </p>

  <p>
    <strong>Id:</strong>
    <%= user.id %>
  </p>

  <p>
    <strong>Initial access:</strong>
    <%= user.initial_access %>
  </p>

  <p>
    <strong>Last access:</strong>
    <%= user.last_access %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= user.location %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= user.updated_at %>
  </p>

  <p>
    <strong>User type:</strong>
    <%= user.user_type %>
  </p>

</div>
